:root {
    --bkg-color1: #1a1a1a;
    --bkg-color2: #272727;
    --bkg-color3: #585757;

    --text-color1: #e2e2e2;
    --text-color2: #adadad;
    --text-color3: #6d6d6d;

    --input-border: #333333;
    --input-border-focus: #464545;

    --btn-color: #168fff;
}
