input {
	&[type="text"] {
		width: 100%;
		padding: 10px;
		background-color: var(--bkg-color1);
		color: var(--text-color2);
		border: solid 1px var(--input-border);
		transition: all 0.3s;

		&:focus {
			border-color: var(--input-border-focus);
		}
	}
}

.input-group {
	margin-top: 25px;

	label {
		margin-bottom: 10px;
		color: var(--text-color2);
	}
}

.multuple-inp input:not(:last-of-type) {
	margin-bottom: 10px;
}

input[type="radio"] {
	margin: 0 5px 0 0;
}

.btn {
	background-color: var(--btn-color);
	padding: 12px;
	font-size: 16px;
	color: #fff;
	border: 0;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		box-shadow: 0px 0px 7px rgb(255 255 255 / 30%);
		color: var(--bkg-color1);
	}

	&.btn-sml {
		font-size: 13px;
		padding: 9px 30px;
		border-radius: 20px;
	}


	&.btn-secondary {
		background-color: var(--bkg-color3);

		&:hover {
			color: #fff;
			background-color: var(--btn-color);
		}
	}
}

.popup-holder {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba($color: #343434cc, $alpha: 0.8);
	z-index: 9;

	.popup-content {
		width: 400px;
		max-width: 100%;
		background: var(--bkg-color1);
		padding: 20px;
		border-radius: 8px;

		h1 {
			text-align: center;
		}
	}
}

.gap-15 {
	gap: 15px;
}